$date-picker-years-font-size: 24px !important;
$icon-size: 30px !important;
$btn-font-weight: 800 !important;
$data-table-regular-header-font-size: 22px !important;
$data-table-regular-row-font-size: 18px !important;
$data-table-dense-header-height: 36px !important;

.v-list-item__title{
    color:black !important;
    font-size: 1rem !important;
    font-weight: 800 !important;
}